<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글 작성 폼</title>
</head>
<style>
    .layout {
        border: 1px solid rgba(40, 107, 68, 0.397);
        padding: 1%;
        width: 500px;
        margin: 0 auto;
        margin-top: 40px;

        text-align: center;
    }

    .layout input, textarea {
        width: 100%;
        box-sizing: border-box;
        margin-top: 15px;
    }

    .layout textarea {
        min-height: 300px;
    }

    .layout button {
        margin-left: 1px;
    }
    
</style>
<body>
    <div class="layout">
        <form action="/board/writepro" method="post">
            <h2>게시글 작성</h2>
            제목<input name="title" type="text">
            글내용<textarea name="content"></textarea>
            <button type="submit">작성</button>
        </form>
    </div>
</body>
</html>